/*! #ELC [Encoral Learning Center] {*/
/* Author: Afiq Xilantra Azmi;
 * Theme-color: Gold/#ffd700;
 * Min-support: IE9 70%;
 */

/* ==========================================================================
   Core styles & FX
   ========================================================================== */


/**Pace loader bar**/ .pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.pace-inactive{display:none}.pace .pace-progress{background:gold;position:fixed;z-index:2000;top:0;left:0;height:2px;-webkit-transition:width 1s;-moz-transition:width 1s;-o-transition:width 1s;transition:width 1s}.pace .pace-progress-inner{display:block;position:absolute;right:0;width:100px;height:100%;box-shadow:0 0 10px gold,0 0 5px gold;opacity:1;-webkit-transform:rotate(3deg) translate(0px,-4px);-moz-transform:rotate(3deg) translate(0px,-4px);-ms-transform:rotate(3deg) translate(0px,-4px);-o-transform:rotate(3deg) translate(0px,-4px);transform:rotate(3deg) translate(0px,-4px)}.pace .pace-activity{display:block;position:fixed;z-index:2000;top:15px;right:15px;width:14px;height:14px;border:2px solid transparent;border-top-color:gold;border-left-color:gold;border-radius:10px;-webkit-animation:pace-spinner 400ms linear infinite;-moz-animation:pace-spinner 400ms linear infinite;-ms-animation:pace-spinner 400ms linear infinite;-o-animation:pace-spinner 400ms linear infinite;animation:pace-spinner 400ms linear infinite}@-webkit-keyframes pace-spinner{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes pace-spinner{0%{-moz-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes pace-spinner{0%{-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}@-ms-keyframes pace-spinner{0%{-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes pace-spinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}} ::-moz-selection {background: #ffd700; text-shadow: none; color: #555} ::selection {background: gold; text-shadow: none; color: #555}
/**Page fX**/ .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {  background: gold; color: #000; padding: 1em}
/* ==========================================================================
   Custom styles & BootOveride
   ========================================================================== */
body{padding-top:51px}
a, button {
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-default {
    border: 2px solid gold;
    border-radius: 0;
}

.nav, .pagination, .carousel, .panel-title a {cursor: pointer}
hr {width:90%}

/* Custom dropdown */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus
    {background-color: gold}

.dropdown-menu {padding: 5px}
.dropdown-menu>li>a {border-radius: 2px;}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    background-color: gold;
}
}

.navbar-toggle:before {
    content: "Menu";
    position: absolute;
    right: 50px;
    top: 5px;
    font-weight: bold
    color: #666
}

/* Title @ header */
.jumbotron h1, .jumbotron .h1 {
    padding: 15px;
    display: inline-block;
    border: 4px solid currentcolor;
}

.aboutUs {
    background-image: url(../img/elc-branding.png);
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    color: gold;
}
.aboutUs h1 {background-color: rgba(0, 0, 0, 0.75)}

/* Profile cards for Educators */
/* Compability: Sadly ie10 > http://caniuse.com/#search=flex */
/* More about Flexbox @ http://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.profile-container {
    padding: 10px;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:  flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    justify-content: space-around;
}

.profile-card {
    height: 350px;
    width: 300px;
    margin-top: 10px;
    padding: 20px;
    background-color: #EBEBEB;
    border-radius: 2px;
}

.subscribe {
    width: 50%;
    border: 2px solid gold;
    border-radius: 0;
}

@media (max-width: 767px) {
    .center-in-mobile {text-align: center; margin-left: auto; margin-right: auto}
}
    
footer {
    background-image: url(../img/elc-mapx.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
    padding: 20px;
    position: absolute;
}

footer i {margin-right: 10px}

.ctc-name {width: 45%}
.ctc-name:last-child {margin-right: 0}

.ctc-name, .ctc-msg {
margin: 10px;
padding: 10px;
background: none;
border: 1px solid gold;
border-top: transparent;
}

.transparent {background-color: transparent; color: #fff}

#logo-elc {margin-top: -5px;fill: #FFC700}



.btn-margin {margin: 0 5px 5px 0}

