body {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #5a5a5a;
}

@media (max-width: 767px) {body {margin-top: 50px}}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
 }

@media (max-width: 767px) {
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 500px;
  overflow: hidden;
 }
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.menu-butt {
    position: absolute;
    margin-left: -60px;
    margin-top: -3px;
    color: #666;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;  
}

.navbar-toggle:hover > .menu-butt, .navbar-toggle:focus > .menu-butt {color: gold}

nav {
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;  
}

nav:hover {background-color: rgba(0, 0, 0, 0.5)}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px; 
    color: #666;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    
}

.right-inner-addon input:hover > .right-inner-addon i {color: gold !important}

.carik {
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;  
}

.carik:hover,.carik:focus,.carik:active {background-color: rgba(255, 255, 255, 1);border-radius: 4px;border-bottom: 2px solid gold; box-shadow: none}


 /** Hover line animation:top**/
.lineTop a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background-color: gold;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
}

.lineTop a:hover:before,
.lineTop a:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 767px) {
.lineTop a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
 
  left: 0;
  background-color: gold;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
}
.lineTop a:hover:before,
.lineTop a:focus:before {
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
}

/** Hover line animation:bottom**/
.lineBottom a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gold;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
}

.lineBottom a:hover:before,
.lineBottom a:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.mini-card {
    height: 100px;
    width: 229px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #333;
    color: #fff;
    padding: 30px 10px;
    text-overflow: ellipsis;
}

.mini-card:last-child {width: 100px}

@media (max-width: 767px) {.mini-card {width: 100%; max-width: 500px; margin: 15px auto}}

.mini-card-date {
    margin-left: 5px;
    padding-right: 10px;
    float: left;
    border-right: 1px solid white;
    margin-right: 10px;
    text-align: right;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mini-card-title {
    width: 120px;
    max-height: 65px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.komen-img {width: 17%}

.komen-img img{
    width: 100%
}

.komen-words {
    width: 80%
}


.wrapper-masonry
{margin-left: 7%}

.masonry-one, .masonry-two, .masonry-three, .masonry-four   
{margin: 10px; float: left; background-color: grey}

.masonry-one
{width: 31.5vw; height: 31.5vw}

.masonry-two, .masonry-three
{width: 15vw; height: 15vw}

.masonry-four 
{width: 24.5vw; height: 24.5vw}

.center 
{width: 16.6vw; float: left}

.last
{display: inline}

.button-masonry
{margin: 10px; float: left; line-height: 4; height: 5.5vw; width: 24.5vw; text-align: center; background: grey}
