<header class="jumbotron text-center aboutUs animated fadeIn" role="main">
    <h1>About Us</h1>
    <p>Imagine · Inspired · Ideate</p>    
</header>


<article class="container animated fadeInUp">
    <div class="row well text-left">
        <p><strong>eNCoral Learning Center(ELC)</strong> is a brand under label eNCoral Digital Solutions Sdn Bhd that focus on the learning program and business consultation. With certified and hands on experience facilitators, eNCoral Learning Center is capable to provide a quality of technical and management training. We have our own learning center with complete training facilities and equipment</p>

            <p><strong>Present Specialization</strong><br>
Our training capabilities include system and Networking, Oracle Hardware and Software, Programming Languages, Implementation Methodologies and Management such as Project Management, Design Thinking, and Balanced Scorecard.
Our Learning Center is HRDF certified and we are capable to partner with any institutions to conduct and develop local IT talent.</p>
        
            <p><strong>Proud Achievements</strong><br>
Our Professional Engineers and Technical Consultants have vast knowledge in hardware implementation and maintenance. Our capability in implementing a fast track and quality project is the proof of our commitment and efficiency. We develop fresh graduates and employed skillful and competent technical staffs with certification.
Our knowledge workers are certified with, but not limited to, PMP (PMI), SCNA, SCSA (Oracle SUN), CCAN (Cisco), RHSA (Redhat), ITIL (IBM), CDCP (LPI-EXIM), NIOSH-TNB (NIOSH), ACMA (Aruba), MCSE (Microsoft) and others.
Apart from having a strong team of local engineers, we are also benefiting from the Transfer of Technologies programs with partners and technology developers around the world. This, we put into good use by decreasing foreign elements and increasing local participation and leadership in most of our projects</p>
        
            <p>Based on our knowledge workers projection, about 90% of our staffs are knowledge with various capabilities and talent. We have participated in customized and software services development tender and was awarded a few. All of our knowledge workers are provided with hands on training and experience. ELC can partner with any academic institutions or training centers to provide or develop a talent management program for any organizations.
Should you be interested to know more, <a href="mailto:elc@nc.com.my" title="E-mail us">please email us</a> immediately and we shall email you the complete program outline for your reference and consideration.</p>
    </div>
</article>