<section class="container">
    <div class="row">
        <aside class="col-md-4 well">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-addon">.00</span>
            </div>
            <a class="btn btn-info" href="https://www.google.com/calendar/ical/en.malaysia%23holiday%40group.v.calendar.google.com/public/basic.ics" title="Download Our Calendar">Sync or Download Our Calendar</a>
        </aside>
        <section ui-calendar="uiConfig.calendar" class="col-md-8 calendar" ng-model="eventSources"></section> 
    </div>
</section>    