<header class="container-fluid animated fadeIn" role="banner">
        <div class="row" ng-controller="HeaderCarousel">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:0 auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
</header>

<hr>

<section class="container" ng-controller="TabsDemoCtrl">
    <tabset>
        <tab heading="Software Development">
            <h3>FAST TRACK DEVELOPMENT PROGRAM</h3>
            <ul class="no-list">
                <li><i class="fa fa-cloud"></i> Fast Track Web Development</li>
                <li>Fast Track PHP Programming</li>
                <li>Fast Track Java Programming</li>
                <li>Fast Track MySQL Database</li>
                <li>Fast Track Corrad Development</li>
                <li>Fast Track PhoneGap Mobile App Development </li>
            </ul>
        </tab>
        
        <tab class="center-block" heading="Mobile Development">
            <br>
            <div class="well col-md-3" style="max-width: 190px">
                <img src="http://placehold.it/150x150" alt="" title="">
                <h4>PhoneGap Development</h4>
            </div>
            <div class="well col-md-3" style="max-width: 190px">
                <img src="http://placehold.it/150x150" alt="" title="">
                <h4>Android Application Development</h4>
            </div>
            <div class="well col-md-3" style="max-width: 190px">
                <img src="http://placehold.it/150x150" alt="" title="">
                <h4>iOS Application Development</h4>
            </div>
            <div class="well col-md-3" style="max-width: 190px">
                <img src="http://placehold.it/150x150" alt="" title="">
                <h4>Mobile Game Development</h4>
            </div>
        </tab>
        



        
        <tab heading="Design Thinking">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>
        </tab>
        
        <tab heading="Project Management">Project Management</tab>    
        
        <tab heading="Oracle">Oracle</tab>    
    </tabset>
</section>